@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-docker {
    position: relative;
    left: 78px;
    font: 500 100%/1.4 system-ui;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0rem;
    padding: 1rem;
    width: calc(100% - 140px);
}

.card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.card>img {
    width: 100%;
    height: auto;
    aspect-ratio: 600/300;
}

.card>h2 {
    margin-top: 1rem;
    font-family: "Kalam", cursive;
    font-weight: normal;
    font-size: 2rem;
    color: #4a4a7d;
    text-align: center;
}

.card>p {
    font-family: "Kalam", cursive;
    font-size: 1rem;
    color: #5e5e89;
    text-align: center;
}